@charset "utf-8";
/* CSS Document */
footer {
	text-align: center;
}
.shower{		
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	margin-left: 100px
}

.jumbotron {
   font-size: 20px;
   padding: 60px;
   text-align: center;
}
table, th, td {
  border: 5px solid #F8F9FA;
  border-collapse: collapse;
}
.centered{
	margin: auto;
}
.rectangle {
  width: 500px;
}
nav a {
   font-size: 18px;
   font-weight: 400;
   text-decoration: none;
   color: white;
}

td{
	width: 200px;
	padding-top: 5px;
}
.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}